<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBToolkit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C5003321A2F799E002D191D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5003471A2F799F002D191D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5003711A2F8CC2002D191D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C50037B1A2F8CC2002D191D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C50039B1A2F8DEB002D191D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75BFD21A422674001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75BFDC1A422674001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75BFF61A4226C5001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75C0001A4226C5001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75C0281A4231BF001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75C0321A4231BF001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75C04E1A4233E4001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C75C0581A4233E4001696A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
